@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap");

.App {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
